* {
    padding: 0;
    bottom: 0;
}

h1 {    
    font-size: 100px; 
    color: blanchedalmond;   
}


.background {
    position: relative;
     
}

.background::after {
    content: '';
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: top center;
    z-index: -1;
    opacity: .5;
}